.github
coverage
examples
node_modules
tests
.eslintignoreenv
.eslintrc
.gitignore
.npmignore
.npmrc
.prettierignore
.prettierrc
compress.ts
jest.json
tsconfig.build.json
tsconfig.json
npm-debug.*
*.log
*.lock
